<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <h1 class="fs-5 d-none d-sm-inline">Habitica</h1>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a href="#" href="#" (click)="getTodos()" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">All</span>
                        </a>
                    </li>
                    <li>
                        <a  href="#" (click)="getTodosByStatus('Completed')" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline">Completed</span> </a>
                        <ul class="collapse show nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
                            <li class="w-100">
                                <a href="#" (click)="getTodosByStatus('Missed')" class="nav-link px-0"> <span class="d-none d-sm-inline">Missed</span></a>
                            </li>
                            <li>
                                <a href="#" (click)="getTodosByStatus('Pending')" class="nav-link px-0"> <span class="d-none d-sm-inline">Pendig</span></a>
                            </li>
                            <li>
                                <a href="#" (click)="getTodayTodos()" class="nav-link px-0"> <span class="d-none d-sm-inline">Schedule</span></a>
                            </li>
                            <li>
                                <a href="#" (click)="logout()" class="nav-link px-0"> <span class="d-none d-sm-inline">Log out</span></a>
                            </li>
                        </ul>
                    </li>
                    
        
                </ul>
                <hr>
            </div>
        </div>
        <div class="col py-3">
            <app-todos-list [AllTodos]="AllTodos"></app-todos-list>
        </div>
    </div>
</div>